<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport",content="width=device-width, initial-scale=1.0")
        title 拼拼 - 募資網站
        link(rel="stylesheet", href="./css/bootstrap.css")
    body
        nav.nav
            img(src="", alt="")
            ul
                li 關於我們
                li
                li
        .btn.btn-primary 測試bootstrap